.container {
  display: grid;
  column-gap: 0.5rem;
  row-gap: 0.25rem;
  grid-template-columns: max-content 1fr;
  max-width: 100%;
  overflow: hidden;
}

.item {
  grid-column: span 2;
  display: grid;
  grid-template-columns: subgrid;
  align-items: center;
}

.visual {
  justify-self: center;
}

.label {
  justify-self: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.circle {
  background-color: currentcolor;
  border-radius: 50%;
  height: 0.75lh;
  width: 0.75lh;
}

.line {
  background-color: currentcolor;
  height: 2px;
  width: 1.5rem;
}
