.namedSets {
  display: flex;
  flex-direction: row;
}

.namedSet {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.colorway {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: solid 1px #333;
}

.colorwayLabel {
  margin-bottom: 0.5rem;
}

.colorwayItem {
  padding: 1rem;
  text-transform: uppercase;
  min-width: 9ch;
  text-align: center;
}
